{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <nav>
        <ul class="pagination">
            {% if first is defined and current != first %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><span class="mdi mdi-chevron-left"></span><span class="mdi mdi-chevron-left"></span></a></li>
            {% endif %}

            {% if previous is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><span class="mdi mdi-chevron-left"></span></a></li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><span class="mdi mdi-chevron-right"></span></a></li>
            {% endif %}

            {% if last is defined and current != last %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><span class="mdi mdi-chevron-right"></span><span class="mdi mdi-chevron-right"></span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
